/* ----------------------------------------------------------------Partie .mesClasses-------------------------------------------------------------- */

.imagePaysage {
    background-color: white;
    padding: 80px;
}

.imagePaysage h2 {
    color:#242424;
    text-align: center;
    margin-bottom: 80px;
} 

.imagePaysage div {
    display: flex;
    flex-direction: raw;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.sectionAccueilParaPhotoContainer{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    margin: auto;
}

.sectionAccueilParaPhotoContainer h1 {
    margin-bottom: 15px;
}

.sectionAccueilParaPhotoContainer p {
    margin-bottom: 30px;
}

.sectionAccueilParaPhotoContainer div {
    padding-right: 80px;
}

.divAccueilParaPhotoBox{
    padding: 50px;
}