
/* ----------------------------------------------------------------Partie Structure-------------------------------------------------------------- */
* {
  margin: 0;
}

body {
    /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
    font-size: 1em;
    font-family: Manrope, sans-serif;
    color: #F9F8FF;
    background-color: #1F2039;
}

a {
    color: #242424;
    text-decoration: none;
}

em {
    color: #A5B4FC;
    font-style: normal;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: Montserrat, sans-serif;
}

h2 {
  color: #f9f8ff;
}

p,
li {
    font-size: 1.1em;
    color: #f9f8ff;
}

header,
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: white;
}

footer,
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-left: 30px;
}

footer a{
    margin-left: 30px;
}


section {
    padding: 80px;
}

/* ----------------------------------------------------------------Partie .mesClasses-------------------------------------------------------------- */

.cta{
    display: inline-block;
    position: relative;
    background: linear-gradient(#8E86B5, #ACAEED);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
}



.lien-icone {
  margin-left: 30px;
}

/* -----------------------------------------------------------------Partie Dynamique--------------------------------------------------------------- */

a:hover {
    text-decoration: underline;
}

.divSpeciale:hover {
    background: linear-gradient(#696484, #8788BA);
    text-decoration: none;
}

.lienIcone:hover {
    opacity: 0.5;
}

@media screen and (max-width: 996px) {
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav img {
        margin-bottom: 20px;
    }

    header,
    footer {
        padding: 20px 20px;
    }

    h1 {
        font-size: 2em;
    }

    section {
        padding: 50px 20px 50px 20px;
    }

    nav a {
        margin-left: 10px;
        margin-right: 10px;
    }
}









